---
import { marked } from 'marked';
import { getCollection } from 'astro:content';
import SectionHeading from './SectionHeading.astro';
import { Icon } from 'astro-icon/components'
import dayjs from "dayjs"
import ProfessionalExperienceSkill from './ProfessionalExperienceSkills.astro';
const professionalExperience = (await getCollection("professional-experience")).sort((a, b)=>{
    const dateA = a.data.to === 'Present' ? new Date() : new Date(a.data.to.year, a.data.to.month - 1);
    const dateB = b.data.to === 'Present' ? new Date() : new Date(b.data.to.year, b.data.to.month - 1);
    return dateB.getTime() - dateA.getTime();
});
---
{
    professionalExperience.length > 0 && 
    <section>
        <SectionHeading title="Professional Experience" />
        <div class="space-y-6">
            {professionalExperience.map((exp)=>(
                <div>
                    <div class="bg-primary/10 pt-4 pb-1.5 px-4 rounded-xl">
                        <div class="flex flex-row justify-between">
                            <h3 class="leading-none font-bold mb-0.5 inline-block font-serif text-secondary">{exp.data.title}</h3>
                        
                            <span class="text-xs bg-secondary text-white print:bg-white print:text-secondary print:border-secondary print:border rounded-full py-0.5 px-2 ml-2">
                                { exp.data['contract type'] === 'Contractor' && 
                                    "Contract"
                                }
                                { exp.data['contract type'] === 'Permanent' && 
                                    "Permanent"
                                }
                                { exp.data['contract type'] === 'Founder' && 
                                    "Founder"
                                }                            
                            </span>
                        </div>
                        

                        <div class="ml-3">
                            {
                                exp.data.company &&
                                <h3 class="leading-none text-secondary mb-1"><em>@ </em> <span class="font-semibold font-serif">{exp.data.company}</span></h3>
                            }
                            
                            <div class="flex flex-wrap text-secondary/80 gap-1 mb-2 text-[0.8rem]">
                                <div class="flex flex-row items-center leading-none mr-4">
                                    <Icon name="pin" class="mr-1"/>
                                    {exp.data.location}
                                </div>
                                <div class="flex flex-row items-center leading-none">
                                    <Icon name="calendar" class="mr-1"/>
                                    {dayjs(new Date(exp.data.from.year, exp.data.from.month-1)).format('MMM YYYY')} - 
                                    {
                                        exp.data.to !== 'Present' &&
                                        dayjs(new Date(exp.data.to.year, exp.data.to.month-1)).format('MMM YYYY')
                                    }
                                    {
                                        exp.data.to === 'Present' && "Present"
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div set:html={marked(exp.body)} class="prose prose-sm text-secondary leading-[1.2] prose-li:mt-2 " />

                    {
                        exp.data.skills && (
                            <h4 class="font-semibold text-primary/70  px-3 py-1 rounded-full text-secondary font-serif">Skills Applied</h4>
                            <div class="flex flex-col print:flex-row lg:flex-row px-3 gap-x-4 gap-y-2 flex-wrap text-secondary">
                                {
                                    exp.data.skills.map((skill)=>(
                                        <ProfessionalExperienceSkill skill={skill} />  
                                    ))
                                }
                            </div>
                        )
                    }
                    
                </div>
            ))}         
        </div>
    </section>
}